.content {
    // width: 100%;
    // height: 100vh;

    &-card1 {
        width: 100%;
        height: auto;

        // background-color: red;
        &-image {
            width: 100%;
            /*width of your image*/
            height: auto;
            /*height of your image*/
            // background-image: url('/card1.jpg');
            margin: 0;
            /* If you want no margin */
            padding: 0;
            /*if your want to padding */
        }
    }

    &-card2 {
        width: 100%;
        height: auto;

        &-image {
            width: 100%;
            /*width of your image*/
            height: auto;
            /*height of your image*/
            // background-image: url('/card1.jpg');
            margin: 0;
            /* If you want no margin */
            padding: 0;
            /*if your want to padding */
        }
    }
}