.App {
  text-align: center;
}

.fullImage {
  max-width: 100%;
  height: 100%;
}

.slick-slide {
  @media(min-width:1332px) {
    width: 520px !important;
  }
}

// .slick-slide img {
//   height: 100%;
//   width: 100%;
// }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spaceBetweenContent {
  display: flex;
  justify-content: space-between;
}

.displayNone {
  display: none !important;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  // width: #{"clamp(50%, 700px, 90%)"};
  width: clamp(50%, 700px, 90%) !important;
  // height: #{"min(50%, 300px)"};
  height: min(50%) !important;

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  top: auto !important;
  left: auto !important;
}

.orange-gradient {
  background: linear-gradient(red, yellow);
}

.green-gradient {
  background: var(--gradient2);
}